@{
    Layout = "~/Views/_ViewStart.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
    <h2>Hovedsiden</h2>
    <div> 
    </div>
</body>
</html>
