

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin</title>
</head>
<body>
    <h2>Admin</h2>
    <div> 
    </div>

    @Html.ActionLink("Lag Produkter", "CreateAllProducts", "Admin", new { @class= "btn btn-success"})
</body>
</html>
