@model List<GodtSkoddProsjekt.Models.Order>

@{ 
    ViewBag.Title = "Ordrehistorikk";
}

    <div>
        <div class="col-sm-9">
            <h2 class="subpage_titles">Ordrehistorikk</h2>
            <hr />

            @for(int i = 0; i < Model.Count; i++)
            {

                <div class="panel panel-default">
                    <div class="panel-heading"><strong>Ordre nr. @Model[i].id</strong> <div class="orderDate"><strong>Dato:</strong> @Html.DisplayFor(modelItem => Model[i].date)</div></div>

                        @for (int j = 0; j < Model[i].orderlines.Count; j++)
                        {
                            <table class="table">
                                <tr>
                                    <td><strong>Produkt nr.</strong></td>

                                    <td>
                                        @Model[i].orderlines[j].productId.ToString()
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Antall</strong>
                                    </td>

                                    <td>
                                        @Model[i].orderlines[j].quantity.ToString()
                                    </td>
                                </tr>
                            </table>
                        }
                   
                </div><!-- /.panel default-->
            }
        
        </div>
    </div><!--./col-sm-9-->