body {
    background-color:#E7E7E7;

}


.col-sm-9
{
    width:90%;
    margin-left:5%;
    margin-right:5%;
    background-color:#FFFFFF;
    
}

footer
{
    margin-left:5%;
}


/*______________ CSS for User/Create.cshtml page______________*/

.col-md-4
{
   
}

.previousStep
{
    background-color:#A9A5A5;
}

.currentStep
{
    background-color:#550452;
}

.nextStep
{
    background-color:#E7E7E7;
}