body {
    background-color:#E7E7E7;

}


.col-sm-9
{
    width:90%;
    margin-left:5%;
    margin-right:5%;
    background-color:#FFFFFF;
    
}

footer
{
    margin-left:5%;
}


/*______________ CSS for User/Create.cshtml page______________*/

h2.registrer
{

	text-align: center;
	font-size: 1em;
    font-weight:bold;
}

.btn-default
{
    float:right;
  
   
}

.col-md-6
{
  margin-top:50px;
  padding-bottom:15px;
}

.currentStep
{
    background-color:#550452;
    color:#FFFFFF;
     padding-top:15px;
}

.nextStep
{
    background-color:#E7E7E7;
      padding-top:15px;
}