body {
    background-color:#E7E7E7;

}


.col-sm-9
{
    width:90%;
    margin-left:5%;
    margin-right:5%;
    background-color:#FFFFFF;
    
}

footer
{
    margin-left:5%;
}


/*______________ CSS for User/Create.cshtml page______________*/

h2.registrer
{

	text-align: center;
	font-size: 1em;
}

.btn-default
{
    float:right;
    margin-right:15px;
   
}

.col-md-2
{
  
}
.previousStep
{
    background-color:#A9A5A5;
}

.currentStep
{
    background-color:#550452;
    color:#FFFFFF;
}

.nextStep
{
    background-color:#E7E7E7;
}