@model List<Model.AdminUser>

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@{
    ViewBag.Title = "Administratorer";
}

<!-- Skal kunne: READ (id og alle), CREATE, UPDATE og DELETE -->

<!-- Se oppsettet til AdminProducts.cshtml (autogenerert når velger template List) -->

<div class="col-sm-9">
    <h2 class="header">Administrator-brukere</h2>

    <!-- Vise alle adminbrukere her (får inn fra model)
        + kunne endre/oppdatere og slette hver enkelt (knapper på samme linje hvor oppdater-knappen går til UpdateAdminUser + sende med id,
        og hvor slette-knappen går til DeleteAdminUser + sende med id til ADMINMainController)
        + kunne søke etter en bestemt administrator ut fra id: kall GetAdminUser i ADMINMainController + send med id
        + en knapp for å gå til CreateAdminUser.cshtml (registrere ny adminbruker) : -->

    <p>
        <div class="Searchbar"><input type="text" id="Searchinn" /></div>
        <div class="Link_addnew">
        <span class="glyphicon glyphicon-plus"></span>  @Html.ActionLink("Registrer ny Administrator", "CreateAdminUser", "ADMINMain", new { id = "" }, new { @class = "" })
        </div>
    </p>

    <table class="table">
        <tr>
        <th>Brukernavn </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.userName)</td>

                <td>
                    @Html.ActionLink("Endre", "EditAdmin", "ADMINMain", new { id = item.id }, new { @class = "" }) |
                    @Html.ActionLink("Slett", "DeleteAdmin", "ADMINMain", new { id = item.id }, new { @class = "" })
                </td>
            </tr>
                }

</table>
</div><!-- /. col-sm-9 aka wrapper-->