@model List<Model.Order>

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@{
    ViewBag.Title = "Admin Bestillinger";
}

<div class="col-sm-9">

    <h2 class="header">Ordre</h2>

    <!-- Vise ordre (til en bestemt bruker eller alle?) (får inn fra model): -->

</div><!-- /. col-sm-9 -->