@model List<Model.AdminUser>

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@{
    ViewBag.Title = "Administratorer";
}

<!-- Skal kunne: READ (id og alle), CREATE, UPDATE og DELETE -->

<!-- Se oppsettet til AdminProducts.cshtml (autogenerert når velger template List) -->

<div class="col-sm-9">
    <h2 class="header">Administrator-brukere</h2>

    <!-- Vise alle adminbrukere her (får inn fra model)
        + kunne endre/oppdatere og slette hver enkelt (knapper på samme linje hvor oppdater-knappen går til UpdateAdminUser + sende med id,
        og hvor slette-knappen går til DeleteAdminUser + sende med id til ADMINMainController)
        + kunne søke etter en bestemt en ut fra id (se nedenfor: kalle på javascript-funksjon)
        + en knapp for å gå til CreateAdminUser.cshtml (registrere ny adminbruker) : -->

    <!-- Der man søker etter en administrator på ID: Kall metoden GetAdminUser i ADMINMainController + send med id -->

    <table class="table">
        <tr class="table_header">
            <td>#</td>
            <td>Navn</td>

        </tr>
    </table>
</div><!-- /. col-sm-9 aka wrapper-->