@model List<Model.User>

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@{
    ViewBag.Title = "Admin Kunder";
}

<div class="col-sm-9">

<h2 class="header">Kunderegister</h2>
    
    <!-- Vise alle kunder/brukere (får inn fra model): -->

    <table class="table">
        <tr class="table_header">
            <td>#</td>
            <td>Navn:</td>

      </tr>
  </table>    
    
</div><!-- /. col-sm-9  aka wrapper -->

