@model List<Model.AdminUser>

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@{
    ViewBag.Title = "Administratorer";
}

<!-- Skal kunne: READ (id og alle), CREATE, UPDATE og DELETE -->

<div class="col-sm-9">
    <h2 class="header">Administrator-brukere</h2>

    <!-- Vise alle adminbrukere her (får inn fra model)
        + kunne endre og slette hver enkelt (knapper på samme linje?)
        + kunne søke etter en bestemt en ut fra id (actionlink til GetAdminUser i ADMINMainController + sende med id)
        + en knapp for å gå til CreateAdminUser.cshtml (registrere ny adminbruker) : -->

    <table class="table">
        <tr class="table_header">
            <td>#</td>
            <td>Navn</td>

        </tr>
    </table>
</div><!-- /. col-sm-9 aka wrapper-->