@model List<Model.AdminUser>

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@{
    ViewBag.Title = "Administratorer";
}

<div class="col-sm-9">
    <h2 class="header">Administrator-brukere</h2>

    <!-- Vise alle adminbrukere her (får inn fra model): -->

    <table class="table">
        <tr class="table_header">
            <td>#</td>
            <td>Navn</td>

        </tr>
    </table>
</div><!-- /. col-sm-9 aka wrapper-->