
@{
    ViewBag.Title = "AdminCustomers";
}

<div class="col-sm-9">

<h2 class="header">Kunderegister</h2>
    
  <table class="table">
      <tr class="table_header">
          <td>#</td>
          <td>Navn:</td>

      </tr>
  </table>    
    
</div><!-- /. col-sm-9  aka wrapper -->

