@model List<Model.Order>

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@{
    ViewBag.Title = "Admin Ordre";
}

<!-- Se oppsettet til AdminProducts.cshtml (autogenerert når velger template List) -->

<!-- Liste alle ordrene til en bruker (får inn ordrene via model) - husk også at hver Order inneholder en eller flere
    Orderline (se Views/User/OrderDetails.cshtml) -->

<!-- Skal kunne søke opp en ordre ut fra id: metode GetOrder i ADMINMainController + sende med id -->

<!-- Må ha en knapp for å endre en bestemt ordre: metode EditOrder i ADMINMainController som tar inn en id (id'en til ordren) -
    går til EditOrder.cshtml - innebærer også at man må kunne endre hver Orderline inni denne Order'en -->

<!-- Må ha en knapp for å opprette en ny ordre: metode CreateOrder i ADMINMainController - går til CreateOrder.cshtml -->

<!-- Må ha en knapp for å slette en ordre (sende med id til ordren): Kall på DeleteOrder + sende med ordre-id til ADMINMainController -->

<!-- Edit og create Orderline skal gjøres i CreateOrder.cshtml og EditOrder.cshtml.
    Mulig å ta delete på en Orderline også? I så fall gjøre dette i EditOrder.cshtml -->

<div class="col-sm-9">

    <h2 class="header">Ordre</h2>

    <p>
        <div class="Searchbar"><input type="text" id="Searchinn" /></div>
        <div class="Link_addnew">
            <span class="glyphicon glyphicon-arrow-down"></span><a href="#" class="link_toggle">Vis mer informasjon</a> | <span class="glyphicon glyphicon-plus"></span>  @Html.ActionLink("Registrer ny ordre", "CreateOrder", "ADMINMain", new { id = "" }, new { @class = "" })
        </div>
    </p>

    <!-- Vise ordre (til en bestemt bruker eller alle?) (får inn fra model): -->

</div><!-- /. col-sm-9 -->