@model List<Model.User>

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@{
    ViewBag.Title = "Admin Kunder";
}

<div class="col-sm-9">

<h2 class="header">Kunderegister</h2>
    
    <!-- Vise alle kunder/brukere (får inn fra model): -->

    <!-- Gjøre mye av det samme som på AdminAdminUsers, men også kunne gå inn på en bestemt bruker og se
        ordrene til denne brukeren + kunne endre/slette disse ordrene + lage en ny ordre på brukeren -->

    <!-- Slette-knappen her (se kommentarer i AdminAdminUsers) skal kalle på javascript-metoden deleteUser(id) -->

    <!-- Der man søker etter en kunde på ID: kall på javascript-funksjonen searchForUser(id) +
        legg inn en div bak søke-knappen for å vise feilmelding - denne div'en må ha id="userSearchMessage" -->

    <table class="table">
        <tr class="table_header">
            <td>#</td>
            <td>Navn:</td>

      </tr>
  </table>    
    
</div><!-- /. col-sm-9  aka wrapper -->

