
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@{
    ViewBag.Title = "Admin Godt Skodd";
}

<!-- Main page for administrators (you get here after you have successfully logged in) -->

<div>

</div>