
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@{
    ViewBag.Title = "Admin Godt Skodd";
}

<!-- Main page for administrators (you get here after you have successfully logged in) -->
<div class="col-sm-9">
    <h2 class="header">Kontrollpanel</h2>
    <div class="admin_controlpanel_wrapper">
        
        <div class="admin_controlpanel_option">
            <span class="glyphicon glyphicon-user"></span><br />
            @Html.ActionLink("Kunder og ordre", "AdminCustomers", "ADMINMain", new { id = "" }, new { @class = "" })
        </div><!-- /. admin-controlpanel-option-->
        <div class="admin_controlpanel_option">
            <span class="glyphicon glyphicon-user"></span><br />
            @Html.ActionLink("Administratorer", "AdminAdminUsers", "ADMINMain", new { id = "" }, new { @class = "" })
        </div><!-- /. admin-controlpanel-option-->
        <div class="admin_controlpanel_option">
            <span class="glyphicon glyphicon-barcode"></span><br />
            @Html.ActionLink("Produkter", "AdminProducts", "ADMINMain", new { id = "" }, new { @class = "" })
        </div>

        <!--Går inn på ordre via Kunder
            <div class="admin_controlpanel_option">
            <span class="glyphicon glyphicon-list-alt"></span><br />
            Ordre
        </div>-->

    </div><!-- /- admin-controlpanel-wrapper -->
</div> <!-- /. col-sm-9 aka wrapper -->