
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@{
    ViewBag.Title = "Admin Godt Skodd";
}

<!-- Main page for administrators (you get here after you have successfully logged in) -->
<div class="col-sm-9">
    <h2 class="header">Kontrollpanel</h2>
    <div class="admin_controlpanel_wrapper">
        
        <div class="admin_controlpanel_option">
            <span class="glyphicon glyphicon-user"></span><br />
            Kunder
        </div><!-- /. admin-controlpanel-option-->
        <div class="admin_controlpanel_option">
            <span class="glyphicon glyphicon-user"></span><br />
            Adminbrukere
        </div><!-- /. admin-controlpanel-option-->

        <div class="admin_controlpanel_option">
            <span class="glyphicon glyphicon-list-alt"></span><br />
            Ordre
        </div>
</div><!-- /- admin-controlpanel-wrapper -->
</div> <!-- /. col-sm-9 aka wrapper -->

