
@{
    ViewBag.Title = "Admin Log in";
}

<!-- Log in page for administrators: only fill in username and password -->

<div class="col-sm-9">
    <h2 class="header">Admin Innlogging</h2>

    <form>
        <div class="form-group">
            <label for="Adminusername">Brukernavn:</label>
            <input type="text" class="form-control" />
        </div>

        <div class="form-group">
            <label for="Adminpassword">Passord:</label>
            <input type="password" class="form-control" />
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-default margin_buttom" value="Logg Inn" />
        </div>
    </form>

</div><!-- /. col-sm-9 aka wrapper -->